/*
*
* NovoPoker Hand Converter
* -------------------------
* Cascading Style Sheet
*
*/


/* Globals */

body {
	background : #FFF;
	padding : 0;
	margin : 0;
	font-size : 11px;
	font-family : Verdana, Arial, sans-serif;
	color : #000;
}

.hc_smallcard {
	width : 34px;
	height : 50px;
}

/* Global Container */
.both {
	clear:both;
}
.hc {
	width : 500px;
	margin : 0 auto;
	margin-top : 20px;
	margin-bottom : 20px;
	float: left;
}
.lc {
	float: left;
	width: 120px;
}
#opponents {
	width: 200px;
	font-weight: bold;
	text-align: center;
	display: inline;
	color: #CECECE;
	margin-left: 69px;
}
.lc div {
	float: left;
	margin: 2px;
}
	/* Box Title */

	.hc_title {
		height : 27px;
	}
		
		.hc_title_text {
			color : #000;
			font-size : 12px;
			float : left;
			height : 27px;
			line-height : 24px;
			margin-left : 5px;
		}

	/* Box Header */

	.hc_head {
		height : 5px;
		font-size:0px;
		background : url('img/hc_contentbox_head.png');
	}

	/* Box Content */
	
	.hc_content {
		height : 397px;
		background : url('img/hc_contentbox_bg.png') repeat-y;
	}

		/* Poker Table Layout */
		
		.hc_table {
			background : url('img/hc_table.png');
			width : 300px;
			height : 151px;
			position : absolute;
			margin-left : 101px;
			margin-top : 135px;
		}

	/* Box Footer */
	
	.hc_foot {
		height : 37px;
		line-height : 37px;
		background : url('img/hc_contentbox_foot.png');		
		padding-right:5px;
		padding-left: 10px;
	}	

		/* Action Bar */ 
	

/* Text Classes */	
	

.hidden,
.none{
	display:none !important;
}
.hc_player{
	position:absolute;
	height:110px;
}
.hc_bigblind{
	background:url('img/blind_bb.png') no-repeat;
	background-position:62px 93px;
}
.hc_smallblind{
	background:url('img/blind_sb.png') no-repeat;
	background-position:62px 93px;
}
.hc_player.hc_player_empty .hc_player_container{
	background:url('img/userbox_oponnent_empty.png');
}
.hc_info{
	position:absolute;
	width:68px;
	margin-left:412px;
	background:url('img/hc_info.png') no-repeat right center;
	height:20px;
	line-height:20px;
	z-index:999;
}
.hc_text .hc_cards{
	height:27px;
}
.hc_text{
	background:#f2f7f7;
	height:386px;
	margin:7px 1px 0;
	overflow:auto;
	position:absolute;
	width:468px;
	padding:0px 15px;
	z-index:996;
	padding-top:10px;
}
.hc a{
	color:#FFF;
	text-decoration:none;
}
.hc .hc_info a{
	display:block;
	width:100px;
	color:#717171;
}
.white{
	color:#FFF !important;
}
.hc_options,
.hc_options_container{
	background-color:#000;
	position:absolute;
	z-index:998;
	width:500px;
	height:439px;
}
.hc_options_container{
	z-index:999;
	background:none;
	color:#FFF;
}
.hc_title{
	text-align:center;
	font-size:15px;
	font-weight:bold;
	margin:15px 0px 139px 0px;
}
.hc_options_container label{
	display:block;
	float:left;
	width:264px;
	font-weight:bold;
	margin:0px 0px 15Px 0px;
}
.hc_options_container input{
	float:left;
	display:block;
	margin:0px 10px 15Px 122px;
}
.hc_player.hc_player_empty .hc_pot,
.hc_player.hc_player_empty .hc_player_name,
.hc_player.hc_player_empty .hc_cards,
.hc_player.hc_player_empty .hc_last_action
{
	visibility:hidden;
}

.hc_player_folds .hc_player_container{
	background-image:url('img/userbox_oponnent_fold.png');
}
.hc_player_folds .hc_player_name{
	color:#717171;
}
.hc_player_folds .hc_last_action{
	color:#515151;
}
.hc_player_folds .hc_pot{
	visibility:hidden;
}

.hc_player_name{
	color:#FFF;
	text-align:center;
	font-size:10px;
	height:10px;
}
.hc_cards{
	margin-left:8px;
	margin-top:-9px;
}
.hc_cards .card_small{
	float:left;
	margin-top:16px;
	margin-right:3px;
	margin-left:3px;
}
.hc_last_action{
	color:#A2A2A2;
	text-align:center;
	margin-top:-2px;
	font-size:9px;
	height:10px;
}
.hc_player_container{
	background:url('img/userbox_oponnent_normal.png') no-repeat;
	width:75px;
	height:66px;
}
.hc_pot{
	background:url('img/pot_oponnent.png') no-repeat;
	width:73px;
	height:24px;
	color:#666 !important;
	line-height:24px;
	text-align:center;
	margin:3px 0px 0px 2px;
	font-size:14px;
	position:absolute;
}
.hc_player.hc_top .hc_pot{
	margin-top:-94px;
}
.hc_player.hc_top .hc_player_container{
	margin-top:25px;
}
/*
 * Player 0
 */
.hc_player_0 .hc_pot {
	margin-top:-128px;
	background:url('img/pot_player.png');
	width:106px;
	height:24px;
	font-weight: bold;
}
.hc_player_0 .hc_player_name {
	font-size:13px;
	line-height:22px;
	font-weight: bold;
}
.hc_player_0 {
	margin-left:145px;
	margin-top:-3px;
}
.hc_player_0 .hc_cards {
	margin-left:12px;
}
.hc_player_0 .hc_last_action {
	font-size:12px;
	line-height:22Px;
}
.hc_player_0 .hc_cards .card_big {
	float:left;
	margin-top:25px;
	margin-right:5px;
	margin-left:5px;
}

.hc_player_0 .hc_player_container{
	background:url('img/userbox_player_normal.png') no-repeat;
	width:110px;
	height:99px;
	margin-top:35px;
}
.hc_player_0.hc_smallblind,
.hc_player_0.hc_bigblind{
	height:155px;
	background-position:93px 135px;
}
/*
 * Player placement
 */
.hc_player_1{
	margin-left:272px;
	margin-top:37px;
}
.hc_player_2{
	margin-left:378px;
	margin-top:58px;
}
.hc_player_3{
	margin-left:405px;
	margin-top:159px;
}
.hc_player_4{
	margin-left:378px;
	margin-top:277px;
}
.hc_player_5{
	margin-left:262px;
	margin-top:298px;
}
.hc_player_6{
	margin-left:154px;
	margin-top:298px;
}
.hc_player_7{
	margin-left:48px;
	margin-top:277px;
}
.hc_player_8{
	margin-left:19px;
	margin-top:159px;
}
.hc_player_9{
	margin-left:49px;
	margin-top:58px;
}
/*
 * Carte sur table
 */
.hc_table_cards{
	margin-left:52px;
	margin-top:48px;
}
.hc_table_cards .card_big{
	float:left;
	margin-right:7px;
}
.hc_game_part:active {
	background-position:0px 28px;
}
.hc_game_part:hover {
	background-position:0px -28px;
}
a{
	outline:none;
}
.hc_main_pot{
	background:url('img/pot_main.png');
	width:102px;
	height:24px;
	line-height:24px;
	text-align:center;
	color:#efaf2a;
	margin:105px 0 0 98px;
}
.hc_game_part{
	background:url('img/hc_button.png');
	display:block;
	float:left;
	color:#e8e8e8;
	width:69px;
	height:28px;
	line-height:28px;
	margin:4px 3px 0px 3px;
	text-decoration:none;
	font-weight:bold;
	font-size:10px;
	text-align:center;
}
.hc_action{
	display:block;
	width:47px;
	height:37px;
	float:right;
	background:url('img/game_actions.png');
}
.hc_action.hc_previous{
	background-position:0px 74px;
}
.hc_action.hc_next{
	background-position:0px 148px;
}
.hc_action.hc_paused{
	background-position:0px -74px;
}
.hc_notify{
	position:absolute;
	background:url('img/action_tooltip.png');
	width:130px;
	height:53px;
}
.hc_notify_container{
	color:#EDEDED;
	font-size:13px;
	font-weight:bold;
	line-height:32px;
	text-align:center;
}
.hc_title_1{
	color:#000;
	font-weight:bold;
	margin:5px 0px;
	font-size:13px;
	border-bottom:1px solid #000;
}
/*
 * Cartes
 */
.card_big{
	background:url('img/cards_big.png');
	width:33px;
	height:48px;
}
.card_small{
	background:url('img/cards_small.png') no-repeat;
	width:26px;
	height:35px;
}
.card_big.card_back{
	background-position:0px 627px;
}
.card_small.card_back{
	background-position:0px -172px;
}
.card_small.card_fold{
	background-position:-28px -172px;
}
.card_big.card_fold{
	background-position:0px 0px;
}

/*
	BIG
*/

/* Diamond */
.card_big.card_2D { background-position : 0px 0px; }

.card_big.card_3D { background-position : -40px 0px; }

.card_big.card_4D { background-position : -80px 0px; }

.card_big.card_5D { background-position : -120px 0px; }

.card_big.card_6D { background-position : -160px 0px; }

.card_big.card_7D { background-position : -200px 0px; }

.card_big.card_8D { background-position : -240px 0px; }

.card_big.card_9D { background-position : -280px 0px; }

.card_big.card_TD { background-position : -320px 0px; }

.card_big.card_JD { background-position : -360px 0px; }

.card_big.card_QD { background-position : -400px 0px; }

.card_big.card_KD { background-position : -440px 0px; }

.card_big.card_AD { background-position : -480px 0px; }

/* Heart */
.card_big.card_2H { background-position : 0px -60px; }

.card_big.card_3H { background-position : -40px -60px; }

.card_big.card_4H { background-position : -80px -60px; }

.card_big.card_5H { background-position : -120px -60px; }

.card_big.card_6H { background-position : -160px -60px; }

.card_big.card_7H { background-position : -200px -60px; }

.card_big.card_8H { background-position : -240px -60px; }

.card_big.card_9H { background-position : -280px -60px; }

.card_big.card_TH { background-position : -320px -60px; }

.card_big.card_JH { background-position : -360px -60px; }

.card_big.card_QH { background-position : -400px -60px; }

.card_big.card_KH { background-position : -440px -60px; }

.card_big.card_AH { background-position : -480px -60px; }

/* Clover */
.card_big.card_2C { background-position : 0px -120px; }

.card_big.card_3C { background-position : -40px -120px; }

.card_big.card_4C { background-position : -80px -120px; }

.card_big.card_5C { background-position : -120px -120px; }

.card_big.card_6C { background-position : -160px -120px; }

.card_big.card_7C { background-position : -200px -120px; }

.card_big.card_8C { background-position : -240px -120px; }

.card_big.card_9C { background-position : -280px -120px; }

.card_big.card_TC { background-position : -320px -120px; }

.card_big.card_JC { background-position : -360px -120px; }

.card_big.card_QC { background-position : -400px -120px; }

.card_big.card_KC { background-position : -440px -120px; }

.card_big.card_AC { background-position : -480px -120px; }

/* Spades */
.card_big.card_2S { background-position : 0px -180px; }

.card_big.card_3S { background-position : -40px -180px; }

.card_big.card_4S { background-position : -80px -180px; }

.card_big.card_5S { background-position : -120px -180px; }

.card_big.card_6S { background-position : -160px -180px; }

.card_big.card_7S { background-position : -200px -180px; }

.card_big.card_8S { background-position : -240px -180px; }

.card_big.card_9S { background-position : -280px -180px; }

.card_big.card_TS { background-position : -320px -180px; }

.card_big.card_JS { background-position : -360px -180px; }

.card_big.card_QS { background-position : -400px -180px; }

.card_big.card_KS { background-position : -440px -180px; }

.card_big.card_AS { background-position : -480px -180px; }

/*
	SMALL
*/

/* Diamond */
.card_small.card_2D { background-position : 0px 0px; }

.card_small.card_3D { background-position : -28.5px 0px; }

.card_small.card_4D { background-position : -57px 0px; }

.card_small.card_5D { background-position : -85.5px 0px; }

.card_small.card_6D { background-position : -114px 0px; }

.card_small.card_7D { background-position : -142.5px 0px; }

.card_small.card_8D { background-position : -171px 0px; }

.card_small.card_9D { background-position : -199.5px 0px; }

.card_small.card_TD { background-position : -228px 0px; }

.card_small.card_JD { background-position : -256.5px 0px; }

.card_small.card_QD { background-position : -285px 0px; }

.card_small.card_KD { background-position : -313.5px 0px; }

.card_small.card_AD { background-position : -342px 0px; }

/* Heart */
.card_small.card_2H { background-position : 0px -43px; }

.card_small.card_3H { background-position : -28.5px -43px; }

.card_small.card_4H { background-position : -57px -43px; }

.card_small.card_5H { background-position : -85.5px -43px; }

.card_small.card_6H { background-position : -114px -43px; }

.card_small.card_7H { background-position : -142.5px -43px; }

.card_small.card_8H { background-position : -171px -43px; }

.card_small.card_9H { background-position : -199.5px -43px; }

.card_small.card_TH { background-position : -228px -43px; }

.card_small.card_JH { background-position : -256.5px -43px; }

.card_small.card_QH { background-position : -285px -43px; }

.card_small.card_KH { background-position : -313.5px -43px; }

.card_small.card_AH { background-position : -342px -43px; }

/* Clover */
.card_small.card_2C { background-position : 0px -86px; }

.card_small.card_3C { background-position : -28.5px -86px; }

.card_small.card_4C { background-position : -57px -86px; }

.card_small.card_5C { background-position : -85.5px -86px; }

.card_small.card_6C { background-position : -114px -86px; }

.card_small.card_7C { background-position : -142.5px -86px; }

.card_small.card_8C { background-position : -171px -86px; }

.card_small.card_9C { background-position : -199.5px -86px; }

.card_small.card_TC { background-position : -228px -86px; }

.card_small.card_JC { background-position : -256.5px -86px; }

.card_small.card_QC { background-position : -285px -86px; }

.card_small.card_KC { background-position : -313.5px -86px; }

.card_small.card_AC { background-position : -342px -86px; }

/* Spades */
.card_small.card_2S { background-position : 0px -129px; }

.card_small.card_3S { background-position : -28.5px -129px; }

.card_small.card_4S { background-position : -57px -129px; }

.card_small.card_5S { background-position : -85.5px -129px; }

.card_small.card_6S { background-position : -114px -129px; }

.card_small.card_7S { background-position : -142.5px -129px; }

.card_small.card_8S { background-position : -171px -129px; }

.card_small.card_9S { background-position : -199.5px -129px; }

.card_small.card_TS { background-position : -228px -129px; }

.card_small.card_JS { background-position : -256.5px -129px; }

.card_small.card_QS { background-position : -285px -129px; }

.card_small.card_KS { background-position : -313.5px -129px; }

.card_small.card_AS { background-position : -342px -129px; }

