BODY      	{	font-family: Helvetica, Verdana, sans-serif;
			background: #FFFFFF; 
			color: #000000
			}

BODY { margin: 0px; }

/*
 * Header
 */
.Logo      	{ font-size: 200%;  color: #FFFFFF; }
/*
 * Right hand menu
 */
.MenuHeading  	{ background: #999999; font-weight: bold; }
TD[class='Menu'] A    { color: #FFFFFF }
/*
 * Footer
 */
.Copyright      { font-size: 50%; background: #c0c0c0; }
