Source: qpoker
Section: python
Priority: optional
Maintainer: Johan Euphrosine <proppy@aminche.com> 
Build-Depends: debhelper (>= 5.0.38), cdbs, python-all, python-central (>= 0.5.6)
XS-Python-Version: all
Standards-Version: 3.7.2

Package: python-qpoker
Architecture: any
Depends: ${python:Depends}, python-qt4 (>= 4.1), python-poker-network (>= 1.0.32)
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: qpoker display the poker table in cute (Qt) way, by extensive use of animation and scalable vector graphics.
